In [1]:
from pytrends.request import TrendReq
import numpy as np
import pandas as pd

In [2]:
# Login to Google. Only need to run this once, the rest of requests will use the same session.
pytrend = TrendReq()

In [14]:
items = pd.read_csv('items.csv', usecols = ['item_code', 'item_name'])
item_name = items['item_name'].tolist()

kw_list1 = []
kw_list1.append(item_name[0])
kw_list1.append(item_name[1])
kw_list1.append(item_name[2])
kw_list1

['Bacon', 'Bagels', 'Healthy Cereal']

In [18]:
stores_geo = pd.read_csv('stores_geo.csv', usecols = ['store_code', 'geo_code'])
stores_geo = stores_geo.loc[stores_geo['store_code'] == 1]
geo_code = stores_geo['geo_code'].tolist()
geo_code

['CA-AB']

In [3]:
# Create payload and capture API tokens. Only needed for interest_over_time(), interest_by_region() & related_queries()
kw_list1=['chicken drumstick', 'sweet potato', 'chocolate ice cream']
kw_list = []
df2 = pd.DataFrame()

for i in range(1, 4):
    kw_list = [kw_list1[i-1]]
    #pytrend.build_payload(kw_list, timeframe='2010-02-05 2012-10-30', geo=str(geo_code[0]), gprop='')
    pytrend.build_payload(kw_list, timeframe='2010-02-05 2012-10-30', geo='CA-AB', gprop='')
    
    # Interest Over Time
    interest_over_time_dict = pytrend.interest_over_time()    
    
    interest_over_time_df = pd.DataFrame.from_dict(interest_over_time_dict[str(kw_list1[i-1])].items())    
    df = pd.DataFrame({'Store' : 1,
                       'Item' : i,
                       'Date' : interest_over_time_df[0],
                       'Weekly_Demand' : interest_over_time_df[1]})

    df2 = df2.append(df)
    
df2.to_csv('interest_over_time_s1_1_3.csv', index = False)

In [4]:
df2

     Store  Item       Date  Weekly_Demand
0        1     1 2010-02-07             99
1        1     1 2010-02-14             54
2        1     1 2010-02-21            100
3        1     1 2010-02-28              0
4        1     1 2010-03-07             51
5        1     1 2010-03-14              0
6        1     1 2010-03-21             50
7        1     1 2010-03-28             56
8        1     1 2010-04-04             52
9        1     1 2010-04-11             49
10       1     1 2010-04-18             51
11       1     1 2010-04-25              0
12       1     1 2010-05-02              0
13       1     1 2010-05-09             55
14       1     1 2010-05-16             55
15       1     1 2010-05-23             55
16       1     1 2010-05-30             52
17       1     1 2010-06-06              0
18       1     1 2010-06-13              0
19       1     1 2010-06-20             54
20       1     1 2010-06-27              0
21       1     1 2010-07-04             54
22       1     1 2010-07-11             53
23       1     1 2010-07-18             52
24       1     1 2010-07-25              0
25       1     1 2010-08-01             57
26       1     1 2010-08-08             52
27       1     1 2010-08-15              0
28       1     1 2010-08-22             51
29       1     1 2010-08-29             51
..     ...   ...        ...            ...
113      1     3 2012-04-08             34
114      1     3 2012-04-15             21
115      1     3 2012-04-22             22
116      1     3 2012-04-29             23
117      1     3 2012-05-06             45
118      1     3 2012-05-13             23
119      1     3 2012-05-20             71
120      1     3 2012-05-27             24
121      1     3 2012-06-03             61
122      1     3 2012-06-10             29
123      1     3 2012-06-17             57
124      1     3 2012-06-24             46
125      1     3 2012-07-01             73
126      1     3 2012-07-08             41
127      1     3 2012-07-15             51
128      1     3 2012-07-22             23
129      1     3 2012-07-29             32
130      1     3 2012-08-05             57
131      1     3 2012-08-12             59
132      1     3 2012-08-19             45
133      1     3 2012-08-26             43
134      1     3 2012-09-02             42
135      1     3 2012-09-09             21
136      1     3 2012-09-16             36
137      1     3 2012-09-23             32
138      1     3 2012-09-30             43
139      1     3 2012-10-07             21
140      1     3 2012-10-14             34
141      1     3 2012-10-21             40
142      1     3 2012-10-28             40

[429 rows x 4 columns]